

<div class="text-center">
    <h1 class="display-4">Hikes for health</h1>
</div>

<div class="container mt-3">
    <h3>8 reasons for hiking :</h3>
    <p>Source : <a href="https://www.webmd.com/fitness-exercise/features/hiking-body-mind" target=”_blank”>WebMd</a></p>
    <ul class="list-group list-group-numbered mt-3">
        <li class="list-group-item">Lower your risk of heart disease</li>
        <li class="list-group-item">Improve your blood pressure and blood sugar levels</li>
        <li class="list-group-item">Boost bone density, since walking is a weight-bearing exercise</li>
        <li class="list-group-item">Build strength in your glutes, quadriceps, hamstrings, and the muscles in your hips and lower legs</li>
        <li class="list-group-item">Strengthen your core</li>
        <li class="list-group-item">Improve balance</li>
        <li class="list-group-item">Help control your weight</li>
        <li class="list-group-item">
            Boost your mood. "Research shows that hiking has a positive impact on combating the symptoms of stress and anxiety," says Gregory A. Miller, PhD, president of the American Hiking Society. "Being in nature is ingrained in our DNA, and we sometimes forget that."
        </li>

    </ul>

</div>

<div class="container d-flex justify-content-center mt-4">
    <a class="btn btn-primary" asp-controller="Hike" asp-action="Index">Check the list of hikes here !</a>
</div>




